
* {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 900;
}

body {
	position: relative;
	padding-top: 70px;
}

h1 {
	text-align: center;
}

/* Stops the navigation bar from blocking when anchoring */
h3 {
	position: relative;
}

/* Stops the navigation bar from blocking when anchoring */
h3 span {
	position: absolute;
	top: -90px;
}

p {
	text-align: center;
}

.about {
	font-size: 1.2em;
	font-weight: normal;
}

.about img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
}

.button {
	margin: 0px auto;
}
.contact {
	font-size: 1.35em;
}

.contact #copyright {
	font-size: 0.6em;
}

.education p {
	font-size: 1.2em;
}

.experience strong {
	font-size: 1.3em;
}

.experience h4 {
	text-align: center;
}

.experience img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	-moz-border-radius: 150px;
	position: relative;
	-o-object-fit: contain;
}

.experience .btn {
	min-width: 250px;
}

.experience .modal-body li {
	text-align: left;
}

.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.skills p {
	text-align: left;
	margin-left: 3em;
}

.skills #lang-list {
	font-size: 1.2em;
}

.social {
	text-align: center;
	font-size: 2em;
}