
* {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 900;
}

body {
	position: relative;
	padding-top: 65px;
}


h1 {
	text-align: center;
}

p {
	text-align: center;
}

.about {
	font-size: 1.2em;
	font-weight: normal;
}

.about img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
}

.contact {
	font-size: 1.5em;
}

.contact #copyright {
	font-size: 0.6em;
}

.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.social {
	text-align: center;
	font-size: 2em;
}